@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    
}

p{  font-style: italic;
    font-size:20px;
}

/* HEADER DESİGN */
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 20px 10px;
}


.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

.header a.logo {
    font-size: 50px;
    font-weight: bold;
}

.logo-image{
    position: relative;
    width:70px;

}

.header a.button:hover {
    background-color: #ddd;
    color: black;
}

.header a.active {
    background-color: rgb(123, 4, 130);
    color: white;
}
  
.header-right {
    float: right;
}

h1{
    padding: 20px;
    margin: 20px;
    font-size: 60px;
    position: absolute;
    left: 120px;
    top:10px;
    display: inline-block;
}

*{  
    box-sizing: border-box;
    padding: 0;
    margin:0;
    border: 0;
    list-style:none;
    
}
a{ 
    text-decoration: none;
}

/* NAVBAR MENU */
ul.menu {
    background-color:#1f1c1c;
    height:100%;
    display:block;
    z-index: 2;
    box-shadow:0 6px 8px  rgba(82, 4, 73, 0.63);
}

ul.menu>li>a:hover {
    background-color: #c9c9c9;
    color: black;
    transition: .3s ease-in-out;
} 

ul.menu >li{
    float:left;
    position: relative;
    
}

ul.menu >li >a{
    display:block;
    font-size: 14px;
    color: #fff;
    padding:0 40px;
    left:60px;
    right: 60px;
    line-height: 70px;
    border-right: 1px solid rgba(0,0,0,0.4);
    text-decoration: none;
    
}

li>a:hover{
    text-decoration: underline;
    text-decoration-color: white;
}
ul.menu ul {
    background-color:#7e2076f3;
    width: 200px;
    position: absolute;
    top: 70px;
    left: -20px;
    opacity: 0;
    transition:all 280ms;
    visibility: hidden;
    display: block;
    
}


ul.menu ul >li >a {
    font-size: 16spx;
    color: #fff;
    padding:7 12px;
    float: left;
    margin:30px;
    text-decoration: none;
}


li:hover >ul{
    opacity: 1;
    visibility: visible;
    left: 0px;
}

ul.menu >li ul ul{
    background-color:rgba(216, 179, 228, 0.842);
    width: 200px;
    display: block;
    position: absolute;
    top: 0px;
    left:200px;
    visibility: hidden;
    transition: all 400ms;
    opacity:0;
    
}

ul.menu ul>li:hover ul{
    opacity: 1;
    visibility: visible;
    left:200px;
}

ul.menu ul ul li>a{
    font-size: 15px;
    color: #fff;
    padding: 0px;
    float: left;
    position: relative;
    
}

button{
    position: relative;
    float:right;
    background-color:#681a61f3 ;
    color:white;
    padding:30px;
    margin:20px;
    margin-top: 30px;
    width: 140px;
    border-radius: 40px;
}


header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 1600px;
    
}

nav{
    background-color: #ffffff;
    height: 70px;
    width: 100%;
    max-width:1600px;
    position: sticky;
    top: 0;
}

article{
    
    background-color: rgb(248, 248, 248);
    padding: 40px;
    height:max-content;
    width: 100%;
    max-width: 1600px;
}

section{
    content:"";
    display: table;
    clear:both;
}

footer{
    background-color: rgb(79, 79, 79);
    padding: 90px;
    text-align: center;
    color:white;
    height: 300px;
    width: 100%;
    max-width: 1600px; 
}


    input[type=text], input[type=password],input[type=email], input[type=date], input[type=submit] {
    width: 100%;
    padding: 16px 8px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    font-size: 25px;
    cursor: grabbing;
    }

#k-form{
    margin:300px 0 300px 280px;
    font-size: 20px;
    border: 1px solid;
    background:#b7b7b7;
    width: 100%;
    max-width: 700px;
    border-radius: 20px;
}


/* RESPONSİVE */
.column {
    float: left;
    width: 33.33%;
    padding: 15px;
  }

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column-2 {
    float: left;
    width: 100%;
    padding: 15px;
  }
  
.column-3{
    float: left;
    width:27%;
    padding: 15px;
}

.column-4{
    float: left;
    width: 46%;
    padding: 15px;
}

@media screen and (max-width:600px){
    .header a {
        float: none;
        display: block;
        text-align: left;
    }
      
      .header-right {
        float: none;
      
    }

    .column{
        width: 100%;
    }

    .column-2{
        width: 100%;
    }

    .column-3{
        width: 100%;
    }

    .column-4{
        width: 100%;
    }

    #k-form{
        width: 100%;
        margin: 0px ;
    }

    footer{
        width:100%;
        padding-bottom:80px;
        height: max-content;
    }
}
  
/* İMAGE */


.hakkinda-img{  
    width:100%;
    max-width:400px;
}

.sahneler-img{
    width:100%;
    max-width: 400px;
}

.haberler-img{
    width: 100%;
    max-width: 800px;
}

.topluluk-img{
    width:100%;
    max-width: 400px;
}

.youtube{
    width:100%;
    max-width: 800;
    height: 500px;
}

.galeri{
    width:100%;
    max-width: 400px;
    margin-bottom: 20px;
}

.anasayfa-img{
    width: 100%;
    max-width: 500px;
}

.türler-img{
    width: 100%;
    max-width: 500px;
}
/* FAVİCONS */ 

.fa {
    padding: 20px;
    font-size: 30px;
    width: 100%;
    max-width: 70px;
    text-align: center;
    text-decoration: none;
    margin: 20px 7px;
    border-radius: 50%;
  }
  
  .fa:hover {
      opacity: 0.7;
  }

  .fa-instagram {
    background: #dc1258;
    color: white;
  }

  .fa-youtube {
    background: #b40303;
    color: white;
  }

  .fa-google {
    background: #3ea561;
    color: white;
  }

  .fa-twitter {
    background: #659eca;
    color: white;
  }

/*  TABLE CSS */
table {
    border-collapse: collapse;
    width: 100%;
    height: 800px;
    max-width: 1200px;
    background-color: rgba(120, 36, 145, 0.101);
  }
  
  td, th {
    border: 2px solid #5d5d5d;
    text-align:center;
    padding: 8px;
  }

